@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --schedule-font-family: "__Inter_d65c78", "__Inter_Fallback_d65c78";
    --border-radius-lg: 1rem;
    --text-color: #18181b;
  }
  .dark {
    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.e-schedule {
  border-color: hsl(var(--border));
  font-family: var(--schedule-font-family);
  font-style: normal;
  font-size: 14px !important;
  text-transform: capitalize !important;
  border: none;
  border-bottom: 1px solid hsl(var(--border));
}

.e-schedule .e-schedule-toolbar .e-tbar-btn .e-tbar-btn-text,
.e-schedule .e-month-view .e-date-header-wrap table td,
.e-date-header.e-navigate,
.e-quick-popup-wrapper,
.e-btn.e-flat,
.e-footer-content .e-btn:not(.e-primary),
.e-dlg-header *,
.e-checkbox-wrapper .e-label,
.e-schedule .e-vertical-view .e-header-cells .e-header-day,
.e-schedule .e-vertical-view .e-header-cells .e-header-date,
.e-schedule .e-agenda-view .e-day-date-header,
.e-schedule .e-agenda-view .e-subject {
  color: var(--text-color);
  font-weight: 500;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day {
  color: #e3165b;
  font-weight: 600;
}
.e-schedule .e-schedule-toolbar {
  height: 60px;
  padding: 0 16px;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background: #f4f4f5;
}

.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item.e-date-range
  .e-tbar-btn
  .e-tbar-btn-text {
  font-size: 18px !important;
  font-weight: 600;
}

.e-schedule .e-schedule-toolbar {
  margin-bottom: 2rem;
}

.e-schedule .e-month-view .e-header-cells {
  padding-bottom: 1.5rem;
}

.e-schedule .e-month-view .e-date-header-wrap table td {
  font-size: 14px !important;
}

.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(1):not(.e-header-row *)::before {
  content: "Sun";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(2):not(.e-header-row *)::before {
  content: "Mon";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(3):not(.e-header-row *)::before {
  content: "Tue";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(4):not(.e-header-row *)::before {
  content: "Wed";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(5):not(.e-header-row *)::before {
  content: "Thu";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(6):not(.e-header-row *)::before {
  content: "Fri";
  display: block;
}
.e-schedule
  .e-schedule-table
  tbody
  tr:not(.e-header-row)
  .e-header-cells:nth-child(7):not(.e-header-row *)::before {
  content: "Sat";
  display: block;
}

.e-toolbar-item.e-today,
.e-toolbar-item.e-schedule-seperator.e-separator,
.e-schedule .e-schedule-table .e-header-cells span,
.e-schedule
  .e-vertical-view
  .e-left-indent-wrap
  table
  tbody
  td.e-header-cells:before {
  display: none !important;
}

.e-schedule .e-month-view .e-date-header-wrap table td,
.e-schedule .e-month-view .e-work-cells {
  border: none;
}

.e-schedule .e-month-view .e-work-cells,
.e-schedule .e-schedule-toolbar,
.e-toolbar .e-toolbar-items,
.e-toolbar .e-toolbar-item .e-tbar-btn,
.e-btn {
  background: transparent;
}

.e-quick-popup-wrapper,
.e-popup.e-popup-open.e-dialog {
  font-family: var(--schedule-font-family);
  font-style: normal;
  border-radius: var(--border-radius-lg);
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header,
.e-dialog.e-quick-dialog .e-dlg-header-content,
.e-schedule-dialog .e-dlg-header-content {
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.e-dialog.e-quick-dialog .e-footer-content,
.e-schedule-dialog .e-footer-content {
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}

.e-btn.e-flat,
label.e-float-text,
.e-checkbox-wrapper .e-label {
  font-family: var(--schedule-font-family) !important;
  font-style: normal !important;
}

.e-checkbox-wrapper .e-label {
  color: #18181b;
}
